
.sidebar {
  background-color: #2e2e2e; 
  padding: 20px;
  color: white;
}

.sidebar h3 {
  margin: 0;
  font-size: 1.2rem;
  color: white;
}


.sidebar a {
  color: white !important; 
  text-decoration: none; 
  font-size: 1rem;
  display: block; 
  padding: 10px 15px; 
  border-radius: 5px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}


.sidebar a:hover {
  background-color: #505050 !important; 
  color: white !important; 
  font-weight: bold;
}


.sidebar li.active a {
  background-color: transparent; 
  color: white !important;
  font-weight: normal;
}


.sidebar a:visited {
  color: white !important; 
}


.sidebar a:focus {
  outline: none;
  background-color: #505050 !important;
  color: white !important;
  font-weight: bold;
}
